<!doctype html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
    {{!-- <script src="/js/app.js"></script> --}}
</head>

<article>
    <h1>{{>header}}</h1>
    <p>{{name}}</p>
    <h1>We&rsquo;ll be here for you..!</h1>
    <div>
        <p>&mdash; The Team</p>
        <img height="115px;" src="img/robot.png" alt="">
    </div>
</article>
<p>{{>footer}}</p>