<!doctype html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
    {{!-- <script src="/js/app.js"></script> --}}
</head>

<article>
    <h1>{{>header}}</h1>
    <p>{{name}}</p>
    <h1>We&rsquo;ll be back soon!</h1>
    <div>
        <p>Sorry for the inconvenience but we&rsquo;re performing some maintenance at the moment. If you need to you can always <a href="mailto:#">contact us</a>, otherwise we&rsquo;ll be back online shortly!</p>
        <p>&mdash; The Team</p>
        <img height="115px;" src="img/robot.png" alt="">
    </div>
</article>
<p>{{>footer}}</p>